$color_1: white;
$color_2: #3a83d1;
$color_3: #333;
$color_4: #555;
$color_5: #fff;
$color_6: whitesmoke;
$color_7: #ccefff;
$background-color_1: #f8f8f8;
$background-color_2: #008DD2;
$background-color_3: #007bff;
$background-color_4: #bbb;
$background-color_5: #717171;
$background-color_6: rgb(102, 185, 196);
$background-color_7: #333;

.about {
    h2 {
        font-size: 3em; 
        margin-bottom: -80px;
		margin-right: 80px;
		font-weight: 500;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: start;

        .about-image {
			z-index: -1;
            margin-bottom: 20px;

            img.star {
                max-width: 100%;
                height: auto;

            }
        }

        .about-text {
            p {
                font-size: 1.5em; // Adjust font size as needed
                margin-top: -150px;
				padding: 70px;
				text-align: right;
            }
        }
    }
}