.contact {
	text-align: center;
	background-color: $background-color_6;
	color: $color_1;
	padding: 40px 20px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	h2 {
		font-size: 2em;
		margin-bottom: 20px;
	}
	p {
		font-size: 1.2em;
		margin-bottom: 10px;
	}
	a {
		color: $color_5;
		font-weight: bold;
		text-decoration: none;
		transition: color 0.3s ease;
		&:hover {
			color: $color_7;
			text-decoration: underline;
		}
		&:focus {
			color: $color_7;
			text-decoration: underline;
		}
	}
}