
$color_1: white;
$color_2: #007bff;
$color_3: #333;
$color_4: #555;
$color_5: #fff;
$color_6: whitesmoke;
$color_7: #ccefff;
$background-color_1: #f8f8f8;
$background-color_2: #008DD2;
$background-color_3: #007bff;
$background-color_4: #bbb;
$background-color_5: #717171;
$background-color_6: rgb(102, 185, 196);
$background-color_7: #333;
footer {
	background-color: $background-color_7;
	color: $color_1;
	text-align: center;
	padding: 10px 0;
	a {
		color: $color_5;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.footer-container {
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
}