.gallery, .our-customers {
  text-align: center;
  padding: 40px 20px;
  background-color: #f8f8f8;
  margin: 20px 0;
}
.gallery h2, .our-customers h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.gallery .carousel {
  overflow: hidden;
}
.gallery .card-container {
  display: flex;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  gap: 10px;
  overflow-x: auto;
  justify-content: start;
  width: 100%;
}
.gallery .card-container::-webkit-scrollbar {
  height: 5px;
}
.gallery .card {
  display: flex;
  position: relative;
  margin: auto;
  color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  flex: 0 0 auto;
  scroll-snap-align: start;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.gallery .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.gallery .card.active {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  border: 2px solid #3a83d1;
}
.gallery .card img {
  flex-shrink: 0;
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .card .tag {
  position: absolute;
  bottom: 40px;
  background-color: #3a83d1;
  opacity: 0.7;
  color: #fff;
  font-size: 0.8em;
  font-weight: 600;
  margin: auto;
  padding: 5px 10px;
  width: 100%;
  height: 30px;
}
.gallery .card .tag h3 {
  margin: auto;
  font-size: 1.1em;
  word-wrap: break-word;
  text-align: left;
}
.gallery .carousel-dots {
  text-align: center;
  margin-top: 20px;
}
.gallery .carousel-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #555;
  border-radius: 50%;
  cursor: pointer;
}
.gallery .carousel-dots .dot.active {
  background-color: #3a83d1;
}
@media (max-width: 600px) {
  .gallery .card {
    width: 100%;
  }
  .gallery .card img {
    height: 280px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .gallery .card {
    width: calc(33.333% - 10px);
  }
  .gallery .card img {
    height: 220px;
  }
}
@media (min-width: 1025px) {
  .gallery .card {
    width: calc(16.666% - 10px);
  }
}

.our-customers .carousel {
  overflow: hidden;
}
.our-customers .card-container {
  display: flex;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  gap: 10px;
  overflow-x: auto;
  justify-content: start;
  width: 100%;
  background: #F3F4F6;
  padding: 10px 0;
}
.our-customers .card-container::-webkit-scrollbar {
  height: 5px;
}
.our-customers .card {
  display: flex;
  position: relative;
  margin: auto;
  color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  flex: 0 0 auto;
  scroll-snap-align: start;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.our-customers .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.our-customers .card.active {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  border: 2px solid #3a83d1;
}
.our-customers .card img {
  flex-shrink: 0;
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-customers .carousel-dots {
  text-align: center;
  margin-top: 20px;
}
.our-customers .carousel-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #555;
  border-radius: 50%;
  cursor: pointer;
}
.our-customers .carousel-dots .dot.active {
  background-color: #3a83d1;
}
@media (max-width: 600px) {
  .our-customers .card {
    width: 20%;
  }
  .our-customers .card img {
    height: 100px;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .our-customers .card {
    width: 16%;
  }
  .our-customers .card img {
    height: 220px;
  }
}
@media (min-width: 1025px) {
  .our-customers .card {
    width: calc(20% - 10px);
  }
}/*# sourceMappingURL=gallery.css.map */