header {
    position: relative;
    padding: 20px 0;
  
    .header-container {
        max-width: 1200px;
        margin: auto;
        padding: 0 20px;
    }
  
    .header-image {
      width: 100%;
      margin-top: -500px;
    }
  
    .logo {
      display: flex;
        align-items: center;

    }
  
    .logo img {
      width: 300px;
      height: auto;
margin: -60px auto auto auto;
    }
  }

  // make responsive 

  @media (max-width: 768px) {
    header {
      .header-image {
        margin-top: -200px;
      }
  
      .logo img {
        width: 200px;
        margin: -40px auto auto auto;
      }
    }
  }

