header {
    position: relative;
    padding: 20px 0;
    background: skyblue;
  
    .header-container {
        max-width: 1200px;
        margin: auto;
        padding: 0 20px;
    }
  
    .header-image {
      width: 100%;
      margin-top: -500px;
    }
  
    .logo {
      display: flex;
        align-items: center;

    }
  
    .logo img {
      width: 300px;
      height: auto;
margin: -60px auto auto auto;
    }
  }
  