
$color_1: white;
$color_2: #007bff;
$color_3: #333;
$color_4: #555;
$color_5: #fff;
$color_6: whitesmoke;
$color_7: #ccefff;
$background-color_1: #f8f8f8;
$background-color_2: #008DD2;
$background-color_3: #007bff;
$background-color_4: #bbb;
$background-color_5: #717171;
$background-color_6: rgb(102, 185, 196);
$background-color_7: #333;

.why-choose-us {
	background-color: $background-color_1;
	padding: 20px 0;
	.container {
		max-width: 1200px;
		margin: auto;
		padding: 0 20px;
	}
	h2 {
		text-align: start;
		margin-bottom: 20px;
		font-size: 1.5em;
		color: $color_3;
	}
	ol {
		padding: 0;
	}
	li {
		margin-bottom: 10px;
		font-size: 1em;
		color: $color_4;
	}
}