
$color_1: white;
$color_2: #007bff;
$color_3: #333;
$color_4: #555;
$color_5: #fff;
$color_6: whitesmoke;
$color_7: #ccefff;
$background-color_1: #f8f8f8;
$background-color_2: #008DD2;
$background-color_3: #007bff;
$background-color_4: #bbb;
$background-color_5: #717171;
$background-color_6: rgb(102, 185, 196);
$background-color_7: #333;

.why-choose-us {
	background-color: $background-color_1;
	padding: 20px 0;


	
	  
	  .container:first-child {
		max-width: 1200px;
		margin: auto;
		padding: 0 20px;
	  
		.clean-up.animate {
			animation: cleanUpAnimation 2s ease-in-out forwards;
		  }
		
		  .clean-down.animate {
			animation: cleanDownAnimation 2s ease-in-out forwards;
		  }
	  }

	  
	  
	  .container:nth-child(2)  {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: right;
	
		h2 {
			z-index: 1;
			font-size: 3em; // Adjust font size as needed
			margin-bottom: -90px;
			margin-right: 120px;
			font-weight: 500;
		}
		.choose-image {
			z-index: 0;
	
			img.star {
				align-self: flex-start;
				max-width: 400px; // Adjust as needed
				height: auto;
				margin-right: 200px;
			}
		}
	
	
	
		ol {
			list-style: none;
			padding: 0;
	margin-top: -40px;
	margin-right: 80px;
			li {
				font-size: 1.5em; // Adjust font size as needed
				margin-bottom: 10px;
				display: flex;
				align-items: center;
				color: $background-color_2;
	
				span {
					font-weight: bold;
					margin-left: 10px;
					color: $background-color_2;
				}
			}
		}
	
		@media (min-width: 768px) { // Tablet and desktop
			flex-direction: row;
	
			img.star {
				margin-right: 40px;
			}
	
			ol {
				li {
					font-size: 1.2em;
				}
			}
		}
	
		@media (min-width: 1024px) { // Larger desktops
			h2 {
				font-size: 2.5em;
			}
	
			ol {
				li {
					font-size: 1em;
				}
			}
		}
	}
	
}

@keyframes cleanUpAnimation {
	0% {
	  margin-bottom: 40px;
	}
	50% {
	  margin-bottom: 60px;
	}
	100% {
	  margin-bottom: 80px;}

  }
  
  @keyframes cleanDownAnimation {
	0%{
	  margin-bottom: -40px;
	}
	50% {
	  margin-bottom: -60px;
	}
	100%{
	margin-bottom: -80px;
	}
  }